<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Suas Notificações</title>
    <script type="module" src="/static/js/client.js" defer></script>
</head>
<body>
    <h1>Notificações</h1>
    <h2>Suas Notificações</h2>
    <ul>
        {% for notification in notifications %}
        <div class="{% if not notification.read %}unread{% else %}read{% endif %}">
            {{ notification.message }}
        </div>
        {% endfor %}
        <a href="{% url 'user_notifications' %}">Ver Notificações</a>
    </ul>
</body>
</html>
